body {
    background-image: url(../html/arriere.jpg);
}

.in{
    display: flex;
    flex-direction: row;
    gap: 100px;
}


nav {

    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid grey;
}

nav img {
    border-radius: 100%;
}

nav div {
    display: flex;
    gap : 20px;
}

nav div a {
    text-decoration: none;
    color :brown;
}

.info {
    width: 300px;
}
p { 
    text-align: left;
    width: 400px;
}

.sport table {height: 500px;}
.sport table th {font-size: 30px;}
.sport table th {height: 100px ; width: 200px; padding: 20Px; margin-left: 30px;}
.sport table td {height: 100px ; width: 200px; padding: 20Px; margin-left: 30px;}       
.sport th {color: blue;}
nav img{margin-top: 15px;}

.about .in {
    display: flex;
    gap: 60px ;
    justify-content:start;
    align-items: center;
}

.about .in .info img {
    border-radius: 100%;
}


.bouton {
    border : solid 1px rgb(29, 29, 29);
    background-color: transparent;
    font-size: large;
    font-weight: 700;
    border-radius: 10px;
    color: rgb(29, 29, 29);
    padding-top :10px;
    padding-bottom: 10px;
    padding-left:40px;
    padding-right:40px;


}

.bouton:hover {
    background-color:rgb(29, 29, 29) ;
    color : white;
    transition: 0.2;
}


